
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <h3 class="text-center">
      Users <span class="user_count">(#)</span>
    </h3>
    <li>
      <%= link_to "User 1", "/" %>
    </li>
    <li>
      <%= link_to "User 2", "/" %>
    </li>
    <li>
      <%= link_to "User 3", "/" %>
    </li>
  </ul>
</div>