// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea#chat_log {
  width: 98%;
}

button#send_message {
  margin-top: -10px;
}

button#set_name {
  margin-top: -10px;
}